.search {
  box-shadow: none !important;
}
.search::placeholder {
  color: var(--blue-primary);
}
.dropdown-menu li a:hover {
  background-color: var(--brown-secondary);
}
.promocode input {
  min-height: 5rem !important;
}
.promocode input::placeholder {
  text-align: center;
}

/* .vstack .btn {
  box-shadow: 0px -6px 9px 0px #d3d3d3b5 inset;
} */

/* footer styles */
.footerHeader {
  font-family: "SFProDisplay";
  font-weight: bold;
  color: #535766;
  padding: 0px !important ;
  margin: 0px !important ;
}
.footerComent {
  font-size: small;
  margin: 24px, 24px, 24px, 0px;
  padding: 0px;
}
.footerSubHeader {
  color: #535766;
}
.footerClosedCaptions {
  text-decoration: none;
  color: black;
}
.inputFeild {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #535766;
}
