:root {
  /* Add more custom colors as needed */
  --brown-primary: #e39069;
  --brown-secondary: #fcd7ab;
  --blue-secondary: #3162ff;
  --blue-primary: #213d78;
}

/* custom fonts */

@font-face {
  font-family: "SFProDisplay";
  src: url("../../fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../../fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../../fonts/SFProDisplay/SFPRODISPLAYBLACKITALIC.OTF");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calgary";
  src: url("../../fonts/CalgaryDemo/Calgary_DEMO.ttf");
  font-weight: normal;
  font-style: normal;
}

.bodyFontFamily {
  font-family: "SFProDisplay", sans-serif;
}

/* background colors */

.bg-brown-primary {
  background-color: var(--brown-primary) !important;
}

.bg-brown-secondary {
  background-color: var(--brown-secondary) !important;
}

.bg-blue-primary {
  background-color: var(--blue-primary) !important;
}

.bg-blue-secondary {
  background-color: var(--blue-secondary) !important;
}

/* text colors */

.text-brown-primary {
  color: var(--brown-primary) !important;
}

.text-brown-secondary {
  color: var(--brown-secondary) !important;
}

.text-blue-primary {
  color: var(--blue-primary) !important;
}

.text-blue-secondary {
  color: var(--blue-secondary) !important;
}

/* box shadow */

.box-shadow {
  box-shadow: 0px 4px 4px 0px #00000040 !important;
}
